html {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.content {
  padding-bottom: 5rem;
  margin: 0 auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer a {
    color: rgb(255, 255, 255);
}

.vertical-center {
  min-height: 80vh; 
  display: flex;
  align-items: center;
}

.navbar-destra{
    position: absolute;
    right: 0;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: rgb(70, 136, 71) !important;
    background-color: rgb(223, 240, 216) !important;
    border: 1px solid rgb(214, 233, 198) !important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: rgb(185, 74, 72) !important;
    background-color: rgb(242, 222, 222) !important;
    border: 1px solid rgb(238, 211, 215) !important;
}

.parsley-errors-list {
  margin: 2px 0 3px !important;
  padding: 0 !important;
  list-style-type: none !important;
  font-size: 0.9em !important;
  line-height: 0.9em !important;
  opacity: 0 !important;

  transition: all .3s ease-in !important;
}

.parsley-errors-list.filled {
  opacity: 1 !important;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootstrap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25) !important;
}

.toggle-handle {
    background-color: #ffffff;
    border: thin rgba(0, 0, 0, .25) solid !important;
}

.badge-squadra {
    width: 1em;
    height: 1em;
    border-radius: 25%;
}

.badge-squadra-support {
    display: flex;
    align-items: center;
}